.modal-close{
    background-color: #f53f3f;
    font-size: 25px;
    position: absolute;
    right: -8px;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}